<html>
    <head>
        <title>Django Girls blog</title>
    </head>
        <body>
            <div>
                <h1><a href="/">Django Girls Blog</a></h1>
            </div>
    
            <div>
                <p>published: 14.07.2019, 15:33</p>
                <h2><a href="">My first post</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis suscipit aut eos delectus velit ducimus! Laboriosam iusto rem quis fugiat suscipit, saepe aperiam tenetur facilis in dolores reprehenderit aliquam esse.</p>
            </div>
    
            <div>
                <p>published: 14.07.2019, 15:34</p>
                <h2><a href="">My second post</a></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quod assumenda magnam ipsa culpa quisquam earum dolore vero eveniet eos! Odit non, dolore ipsam autem beatae natus facere at velit.</p>
            </div>
        </body>
</html>